.navbar {
	padding: 16px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:1;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn.btn-link {
	color:#4f56b5c7;
}
.link {
	margin-left:15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.app-content {
	padding: 20px;
}

.badge {
	padding:10px;
}
a.cart-link {
	color:#50596c;
}

.menu-container {
	position: relative;
}

.menu {
	position: absolute;
	right:0;
}
