.navbar {
	padding:16px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn.btn-link {
	color:#4f56b5c7;
}
.link {
	margin-left:15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.app-content {
	padding: 20px;
}
